body{
  background-color: darkgray;
}
h1 {
  font-family:arial;
  text-align:center;
}

p {

  font-family:arial;
  

}

img 3 {
    opacity: 1.0;
    filter: alpha(opacity=40); 
}

img 3:hover {
    opacity: 0.4;
    filter: alpha(opacity=100);
}
