body{
  background-color: darkgray;
}
h1 {
  font-family:arial;
  text-align:center;
}

p {

  font-family:arial;
  

}

.image3
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
.image1:hover
{
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
